<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title>Navbar Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
<link href="css/main.css" rel="stylesheet"/>
</head>
<body>
	<div class="container">
		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<!--Usage of models we wrote in WepAppController th:text="'Welcome to basic Bootstrap with Spring Boot created by ' + ${username} -->
			<h1 id="dice1">?</h1>
			<h1>-</h1>
			<h1 id="dice2">?</h1>
			<h2>Let's Play Snake Eyes!</h2>
			<div class="prizes">Prizes: Pair of 1's (Snake Eyes) = x30 return! Any other Pairs = x7 return.</div>
			<div class="instructions">
				<p>1) Enter Player ID (if known).</p>
				<p>2) Enter the value of Stake (1 or 2 or 10). New players will be assigned an initial credit of £1000.00</p>
				<p>3) Hit the "Play" button to submit an entry!</p>
			</div>

			<div class="input-group">
				<input type="number"  id="playerId" class="form-control" placeholder="Player ID (Leave blank for new players)">
				<span class="input-group-addon">£</span> 
				<input type="number"  id="stakeValue" class="form-control" placeholder="Stake value (1 or 2 or 10)">
				<span class="input-group-addon">.00</span>
			</div>
			<br />
			<div id="feedback"></div>
			<p>
				<a id="playButton" class="btn btn-lg btn-primary" href="#" role="button">PLAY »</a>
			</p>
		</div>
	</div>
	<div class="container gamelog">
		<!-- Main component for a primary marketing message or call to action -->
		<p>Game Log for player:</p><p id="currentPlayerId"></p>
		<div id="gamelog_feedback"></div>
	</div>
	<!-- /container -->
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>